<div class="page page-single">
  <link rel="stylesheet" href="/css/app.css" />
  <div class="page-content">
    <!-- Navbar -->
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="newsman-block no-margin">
      <div class="newsman-block-content">
        <div class="single-page">

          <div class="margin-top">

            <h2>
              <%= title %>
            </h2>
            <img src="<%= image %>" alt="bp1">
            <div class="post-author display-flex align-items-center">
              <div class="post-author-img bg-color-pink newsman-object-fit">
                <img src="./img/user6.png" alt="user6">
              </div>
              <div class="post-author-infos margin-left-half">
                <span class="post-author-name display-block text-semibold"><a href="/profile/">Alejandro
                    Garcia</a></span>
                <span class="post-author-extra">San francisco</span>
              </div>
            </div>
            <div class="single-post-content margin-top">
              <% content.child.forEach(function(student){%>
                <p>
                  <%= student.tag==='p' ? student.child[0].text :' ' %>
                </p>
                <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
    <!-- / section -->

    <!-- FIX F7 -->
    <div id="fix-f7">
    </div>
    <!-- /FIX F7 -->
    <!-- /Page content -->
  </div>
</div>